interactions:
- request:
    body: '{"name": "Jane Doe", "email": "jane@doe.com"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://app.vindi.com.br/api/v1/customers/2481112
  response:
    body: {string: '{"customer":{"id":2481112,"name":"Jane Doe","email":"jane@doe.com","registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2017-04-19T13:08:51.000-03:00","updated_at":"2017-04-19T13:22:46.794-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"61ef9921ac8c5ece795fee47abe22bb5"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492619026']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
