interactions:
- request:
    body: '{"holder_name": "John Doe", "card_expiration": "12/2020", "card_number":
      "5555555555555557", "card_cvv": "123", "payment_method_code": "credit_card",
      "payment_company_code": "mastercard", "customer_id": 2481258}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://app.vindi.com.br/api/v1/payment_profiles
  response:
    body: {string: "{\"payment_profile\":{\"id\":2284520,\"status\":\"active\",\"holder_name\":\"JOHN
        DOE\",\"registry_code\":null,\"bank_branch\":null,\"bank_account\":null,\"card_expiration\":\"2020-12-31T23:59:59.999-02:00\",\"card_number_first_six\":\"555555\",\"card_number_last_four\":\"5557\",\"token\":\"ba3cf5f2-143f-44df-b09e-0bc69dfb7a96\",\"type\":\"PaymentProfile::CreditCard\",\"created_at\":\"2017-04-20T08:59:01.672-03:00\",\"updated_at\":\"2017-04-20T08:59:01.672-03:00\",\"payment_company\":{\"id\":1,\"name\":\"MasterCard\",\"code\":\"mastercard\"},\"payment_method\":{\"id\":17293,\"public_name\":\"Cart\xE3o
        de cr\xE9dito\",\"name\":\"Cart\xE3o de cr\xE9dito\",\"code\":\"credit_card\",\"type\":\"PaymentMethod::CreditCard\"},\"customer\":{\"id\":2481258,\"name\":\"John
        Doe\",\"email\":\"john@doe.com\",\"code\":null}}}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"53b54710a260c662358cf53952594ab8"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492689601']
      Vindi-Merchant-Id: ['5963']
    status: {code: 201, message: Created}
version: 1
