interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://app.vindi.com.br/api/v1/payment_profiles/2284520
  response:
    body: {string: "{\"payment_profile\":{\"id\":2284520,\"status\":\"inactive\",\"holder_name\":\"JOHN
        DOE\",\"registry_code\":null,\"bank_branch\":null,\"bank_account\":null,\"card_expiration\":\"2020-12-31T23:59:59.000-02:00\",\"card_number_first_six\":\"555555\",\"card_number_last_four\":\"5557\",\"token\":\"ba3cf5f2-143f-44df-b09e-0bc69dfb7a96\",\"type\":\"PaymentProfile::CreditCard\",\"created_at\":\"2017-04-20T08:59:01.000-03:00\",\"updated_at\":\"2017-04-20T09:12:59.611-03:00\",\"payment_company\":{\"id\":1,\"name\":\"MasterCard\",\"code\":\"mastercard\"},\"payment_method\":{\"id\":17293,\"public_name\":\"Cart\xE3o
        de cr\xE9dito\",\"name\":\"Cart\xE3o de cr\xE9dito\",\"code\":\"credit_card\",\"type\":\"PaymentMethod::CreditCard\"},\"customer\":{\"id\":2481258,\"name\":\"John
        Doe\",\"email\":\"john@doe.com\",\"code\":null}}}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"d41562ef5af6759c55390d4e3fad9ed6"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492690439']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
