interactions:
- request:
    body: '{"name": "John Doe", "email": "john@doe.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://app.vindi.com.br/api/v1/customers
  response:
    body: {string: '{"customer":{"id":2481112,"name":"John Doe","email":"john@doe.com","registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2017-04-19T13:08:51.795-03:00","updated_at":"2017-04-19T13:08:51.795-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"40dbc378166c4c52eb3021afb51d185a"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492618191']
      Vindi-Merchant-Id: ['5963']
    status: {code: 201, message: Created}
version: 1
