interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://app.vindi.com.br/api/v1/products/82534
  response:
    body: {string: '{"product":{"id":82534,"name":"Product One","code":"product-one","unit":null,"status":"active","description":null,"invoice":"always","created_at":"2017-04-20T08:27:28.000-03:00","updated_at":"2017-04-20T08:27:28.000-03:00","pricing_schema":{"id":1196727,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-04-20T08:27:28.000-03:00"},"metadata":{}}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"db4eec832a8b6a04b736dbe3ae08c8f3"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492687979']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
