interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://app.vindi.com.br/api/v1/products
  response:
    body: {string: '{"products":[{"id":82534,"name":"Product One","code":"product-one","unit":null,"status":"active","description":null,"invoice":"always","created_at":"2017-04-20T08:27:28.000-03:00","updated_at":"2017-04-20T08:27:28.000-03:00","pricing_schema":{"id":1196727,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-04-20T08:27:28.000-03:00"},"metadata":{}}]}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"26e4e0a1457227481682364da47362a4"]
      Per-Page: ['25']
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492687906']
      Total: ['1']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
