interactions:
- request:
    body: '{"name": "Product 1", "code": "product-1"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://app.vindi.com.br/api/v1/products/82534
  response:
    body: {string: '{"product":{"id":82534,"name":"Product 1","code":"product-1","unit":null,"status":"active","description":null,"invoice":"always","created_at":"2017-04-20T08:27:28.000-03:00","updated_at":"2017-04-20T08:35:49.000-03:00","pricing_schema":{"id":1196727,"short_format":"R$
        100,00","price":"100.0","minimum_price":null,"schema_type":"flat","pricing_ranges":[],"created_at":"2017-04-20T08:27:28.000-03:00"},"metadata":{}}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"facefacb2ef929428ffe4849c618dfe2"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492688209']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
