interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://app.vindi.com.br/api/v1/payment_profiles/2284520/verify
  response:
    body: {string: '{"transaction":{"id":10333269,"charge_id":null,"gateway_id":10371,"payment_profile_id":2284520,"customer_id":2481258,"amount":null,"gateway_transaction_id":"a5e1bead-670c-4343-b855-8600cfd284de","gateway_response_code":"","gateway_message":"Transacao
        aprovada","status":"success","transaction_type":"verify","created_at":"2017-04-20T09:07:29.442-03:00","updated_at":"2017-04-20T09:07:29.465-03:00","payment_method_id":17293,"import_batch_id":null,"installments":null,"export_batch_id":null,"gateway_authorization":"D3BF453517305CD60C7DA7F5178F9FA4","print_job_id":null,"remote_created_at":null,"gateway_response_fields":{"test_auth":"4018c5f42b81e3cf264f"},"attempt_number":null,"fraud_detector_score":null,"fraud_detector_id":null,"fraud_detector_status":null,"recovery_type":null,"merchant_id":5963}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"149563cb80953d59aef1bf029cc596c5"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492690109']
      Vindi-Merchant-Id: ['5963']
    status: {code: 201, message: Created}
version: 1
