interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://app.vindi.com.br/api/v1/payment_methods/17293
  response:
    body: {string: "{\"payment_method\":{\"id\":17293,\"public_name\":\"Cart\xE3o
        de cr\xE9dito\",\"name\":\"Cart\xE3o de cr\xE9dito\",\"code\":\"credit_card\",\"type\":\"PaymentMethod::CreditCard\",\"status\":\"active\",\"settings\":{\"automatic_bill_charge\":true},\"set_subscription_on_success\":\"set_without_authorization\",\"allow_as_alternative\":true,\"payment_companies\":[{\"id\":2,\"name\":\"Visa\",\"code\":\"visa\"},{\"id\":1,\"name\":\"MasterCard\",\"code\":\"mastercard\"}],\"maximum_attempts\":5,\"created_at\":\"2017-03-10T14:20:47.000-03:00\",\"updated_at\":\"2017-03-10T14:20:47.000-03:00\"}}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"712ef6cbb97c10e61e337fc0afd2e806"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492688868']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
