interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://app.vindi.com.br/api/v1/customers
  response:
    body: {string: '{"customers":[{"id":2481112,"name":"John Doe","email":"john@doe.com","registry_code":null,"code":null,"notes":null,"status":"inactive","created_at":"2017-04-19T13:08:51.000-03:00","updated_at":"2017-04-19T13:08:51.000-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}]}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"a9fe62d7b97266cabf07375a40ff91f9"]
      Per-Page: ['25']
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492618362']
      Total: ['1']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
