interactions:
- request:
    body: '{"installments": 2}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://app.vindi.com.br/api/v1/charges/6810923
  response:
    body: {string: "{\"charge\":{\"id\":6810923,\"amount\":\"100.0\",\"status\":\"pending\",\"due_at\":\"2017-04-24T23:59:59.000-03:00\",\"paid_at\":null,\"installments\":2,\"attempt_count\":0,\"next_attempt\":null,\"print_url\":null,\"created_at\":\"2017-04-21T11:12:04.000-03:00\",\"updated_at\":\"2017-04-21T12:04:46.197-03:00\",\"last_transaction\":null,\"payment_method\":{\"id\":17293,\"public_name\":\"Cart\xE3o
        de cr\xE9dito\",\"name\":\"Cart\xE3o de cr\xE9dito\",\"code\":\"credit_card\",\"type\":\"PaymentMethod::CreditCard\"},\"bill\":{\"id\":7071972,\"code\":\"my-fourth-bill\"},\"customer\":{\"id\":2481258,\"name\":\"John
        Doe\",\"email\":\"john@doe.com\",\"code\":null}}}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"e90c8e22a64371bd1a57151ecd62bcaf"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492787146']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
