interactions:
- request:
    body: '{"code": "first-bill"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://app.vindi.com.br/api/v1/bills/7064381
  response:
    body: {string: "{\"bill\":{\"id\":7064381,\"code\":\"first-bill\",\"amount\":\"100.0\",\"installments\":1,\"status\":\"paid\",\"seen_at\":\"2017-04-21T09:25:17.000-03:00\",\"billing_at\":null,\"due_at\":\"2017-04-24T23:59:59.000-03:00\",\"url\":\"https://app.vindi.com.br/customer/bills/7064381?token=db96ea6a-561f-44ab-a040-b0909c739564\",\"created_at\":\"2017-04-21T09:18:55.000-03:00\",\"updated_at\":\"2017-04-21T11:44:02.492-03:00\",\"bill_items\":[{\"id\":8362517,\"amount\":\"100.0\",\"quantity\":null,\"pricing_range_id\":null,\"description\":null,\"pricing_schema\":null,\"product\":{\"id\":82534,\"name\":\"Product
        1\",\"code\":\"product-1\"},\"product_item\":null,\"discount\":null}],\"charges\":[{\"id\":6803582,\"amount\":\"100.0\",\"status\":\"paid\",\"due_at\":\"2017-04-24T23:59:59.000-03:00\",\"paid_at\":\"2017-04-21T10:40:52.000-03:00\",\"installments\":1,\"attempt_count\":1,\"next_attempt\":null,\"print_url\":null,\"created_at\":\"2017-04-21T09:18:56.000-03:00\",\"updated_at\":\"2017-04-21T10:40:52.000-03:00\",\"last_transaction\":{\"id\":10384095,\"transaction_type\":\"charge\",\"status\":\"success\",\"amount\":\"100.0\",\"installments\":1,\"gateway_message\":\"Transacao
        aprovada\",\"gateway_response_code\":\"\",\"gateway_authorization\":\"2C2B04FE23B6958DF90E72AADEA3AD87\",\"gateway_transaction_id\":\"dacbe4d7-591c-4949-ae6e-5932aa2501be\",\"gateway_response_fields\":{\"test_auth\":\"cfa315f873c37a4cfca1\"},\"fraud_detector_score\":null,\"fraud_detector_status\":null,\"fraud_detector_id\":null,\"created_at\":\"2017-04-21T10:40:52.000-03:00\",\"gateway\":{\"id\":10371,\"connector\":\"test\"},\"payment_profile\":{\"id\":2284520,\"holder_name\":\"JOHN
        DOE\",\"registry_code\":null,\"bank_branch\":null,\"bank_account\":null,\"card_expiration\":\"2020-12-31T23:59:59.000-02:00\",\"card_number_first_six\":\"555555\",\"card_number_last_four\":\"5557\",\"token\":\"ba3cf5f2-143f-44df-b09e-0bc69dfb7a96\",\"created_at\":\"2017-04-20T08:59:01.000-03:00\",\"payment_company\":{\"id\":1,\"name\":\"MasterCard\",\"code\":\"mastercard\"}}},\"payment_method\":{\"id\":17293,\"public_name\":\"Cart\xE3o
        de cr\xE9dito\",\"name\":\"Cart\xE3o de cr\xE9dito\",\"code\":\"credit_card\",\"type\":\"PaymentMethod::CreditCard\"}}],\"customer\":{\"id\":2481258,\"name\":\"John
        Doe\",\"email\":\"john@doe.com\",\"code\":null},\"period\":null,\"subscription\":null,\"metadata\":{},\"payment_profile\":{\"id\":2284520,\"holder_name\":\"JOHN
        DOE\",\"registry_code\":null,\"bank_branch\":null,\"bank_account\":null,\"card_expiration\":\"2020-12-31T23:59:59.000-02:00\",\"card_number_first_six\":\"555555\",\"card_number_last_four\":\"5557\",\"token\":\"ba3cf5f2-143f-44df-b09e-0bc69dfb7a96\",\"created_at\":\"2017-04-20T08:59:01.000-03:00\",\"payment_company\":{\"id\":1,\"name\":\"MasterCard\",\"code\":\"mastercard\"}}}}"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"6a48b84d304c981e175ebf9f46aedcc9"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492785902']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
