interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: DELETE
    uri: https://app.vindi.com.br/api/v1/customers/2481112
  response:
    body: {string: '{"customer":{"id":2481112,"name":"Jane Doe","email":"jane@doe.com","registry_code":null,"code":null,"notes":null,"status":"archived","created_at":"2017-04-19T13:08:51.000-03:00","updated_at":"2017-04-19T13:25:57.301-03:00","metadata":{},"address":{"street":null,"number":null,"additional_details":null,"zipcode":null,"neighborhood":null,"city":null,"state":null,"country":null},"phones":[]}}'}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: [W/"e5bab4d004af325bcf367d4dd7af0f3c"]
      Rate-Limit-Limit: ['120']
      Rate-Limit-Remaining: ['119']
      Rate-Limit-Reset: ['1492619217']
      Vindi-Merchant-Id: ['5963']
    status: {code: 200, message: OK}
version: 1
